version: '3.8'

services:
  app:
    build: .
    container_name: procurement_backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    restart: always
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=procurement_db
      - DB_PORT=3306

  db:
    image: mysql:8.0
    container_name: procurement_db
    cap_add:
      - SYS_NICE 
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: procurement_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: